.App{
    background-color: #003c69;
    height: 100vh;
}
.body{
    background-color: #003c69; 
}
.logo{
    background-color: #003c69;
    width: 500px;
    padding-bottom: 20px;
}
.input-box{
    box-sizing: border-box;
    background-color: #003c69;
}
.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(245, 245, 245,245);
    outline: none;
    margin-bottom: 20px;
    color: white;
}
.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .4s;
}
.input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}
.input-field .input:valid ~ label{
    top: -10px;
    font-size: 13px;
}
.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid white;
}
.btn{
    background-color: black;
}
.createaccountlink{
    text-align: center;
    margin-top: 1px;
}
.navbar{
    background-color: #003c69;
    font-size: 20px;
}
.spacing-nav{
    margin-left: 50px;
}
.auth-spacing{
    margin-right: 30px;
}
.h7{
    font-size: 12px;
}
.cardProfile{
    width: 60%;
}
